<!--First handle HTTP server not found error-->
<h1 class="errorView" *ngIf="errorMessage.length > 1 ; else elseBlock">{{errorMessage}}</h1>
<ng-template #elseBlock>
  <!--Display proper message when Match list is empty-->
  <h1 class="errorView" *ngIf="sortedMatchList == null ; else nestedElseBlock" >
     Played Match data collection file is empty. Unable to display sorted Match details
  </h1>

  <ng-template #nestedElseBlock>
    <h1>Match Details Sorted By Match Played Date</h1>
    <div class="tableView">
      <table>
        <thead>
        <tr class="headingRow">
          <th colspan="3">Match Played Date</th>
          <th colspan="2">Team 01</th>
          <th colspan="2">Team 02</th>
        </tr>
        <tr>
          <th>Day</th>
          <th>Month</th>
          <th>Year</th>
          <th>Team Name</th>
          <th>Match Goals Score</th>
          <th>Team Name</th>
          <th>Match Goals Score</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bodyRow" *ngFor="let match of sortedMatchList">
          <td>{{match.matchPlayedDate.day}}</td>
          <td>{{match.matchPlayedDate.month}}</td>
          <td>{{match.matchPlayedDate.year}}</td>
          <td>{{match.matchPlayedClub[0].clubName.toUpperCase()}}</td>
          <td>{{match.team01GoalScore}}</td>
          <td>{{match.matchPlayedClub[1].clubName.toUpperCase()}}</td>
          <td>{{match.team02GoalScore}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</ng-template>
