<!--First handle HTTP server not found error-->
<h1 class="errorView" *ngIf="errorMessage.length > 1 ; else elseBlock">{{errorMessage}}</h1>
<ng-template #elseBlock>
  <!--Display proper message when Football list is empty-->
  <h1 class="errorView" *ngIf="footballList ==null; else nestedElseBlock" >
    Football club data collection file is empty. Unable to display Sports Club details
  </h1>

  <ng-template #nestedElseBlock>
    <h1>Registered Sports Club Details</h1>
    <div class="tableView">
      <table>
        <thead>
        <tr class="headingRow">
          <th>Club Register No</th>
          <th>Club Name</th>
          <th>Club Location</th>
          <th>Previous Played Matches</th>
          <th>Season Played Matches</th>
          <th>Win</th>
          <th>Defeat</th>
          <th>Draw</th>
          <th>Goals Score</th>
          <th>Goals Against Received</th>
          <th>Goals Difference</th>
          <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bodyRow" *ngFor="let club of footballList">
          <td>{{club.clubRegisterNo}}</td>
          <td>{{club.clubName.toUpperCase()}}</td>
          <td>{{club.clubLocation}}</td>
          <td>{{club.noOfPlayedMatch}}</td>
          <td>{{club.noOfTotalSeriousPlayedMatch}}</td>
          <td>{{club.noOfWinMatch}}</td>
          <td>{{club.noOfDefeatMatch}}</td>
          <td>{{club.noOfDrawMatch}}</td>
          <td>{{club.noOfGoalsScored}}</td>
          <td>{{club.noOfGoalsReceived}}</td>
          <td>{{club.noOfGoalsScored-club.noOfGoalsReceived}}</td>
          <td>{{club.currentPoint}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</ng-template>

